@import url('https://fonts.googleapis.com/css?family=Open+Sans');   /* Importing fonts from google api in case the users browser does not support your chosen fonts. */

* {                                             /* Using the universal selector to remove margin and padding from everything, a "reset". */
    box-sizing: border-box;     
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;                     We don´t actually need these here */
    height: 100vh;
    /* overflow: hidden;
    margin: 0;                                   Not these either */
}

.slider-container {                             /* Effects everything in our container (left-part and righ-part). */                            
    position: relative;                         /* Sets the position for .slider-container to "relative"*/
    overflow: hidden;                           /* Sets the overflowing text to hidden. */
    width: 100vw;                               /* Sets the width and height of .slider-container to 100% of viewport */
    height: 100vh;
}

.left-slide {
    height: 100%;
    width: 35%;                                 /* Left slide width is set to 35% of the container. */
    position: absolute;                         /* är ett child till position: relative på line 21 */
    top: 0;                                     /* left-slide och slider container ska leava */
    left: 0;
    transition: transform 0.5s ease-in-out;     /* Makes the transitions smoother. */
}

.left-slide > div {                             /* Targets all the immediate divs (child-divs). */
    height: 100%;                               /* Makes the currently selected div to take up the entire height of viewport. (100% of parent-element height)*/
    width: 100%;                                /* 100% of parent-element width of which we already set to 35%, (.left.slide.) */
    display: flex;                              /* The element behaves like a block element and lays out its content according to the flexbox model. https://developer.mozilla.org/en-US/docs/Web/CSS/display */
    flex-direction: column;                     /* Puts the p underneath the h1. */
    align-items: center;                        /* centers the p and h1 on the X-axis. Med "flex-direction: column;" så ändras hur align-center och justify-content fungerar (axisen roterar 90 grader) */
    justify-content: center;                    /* centers the p and h1 on the Y-axis. */
    color: #fff;                              /* Ändrar texten i p och h1 till vit. */
}

.left-slide h1 {
    font-size: 40px;                            /* Makes the h1-text a little bigger than a default h1. */
    margin-bottom: 10px;                        /* Makes the space between h1 and p a little bigger (since we already did a universal margin and padding reset. )*/
    margin-top: -30px;                          /* Stjäl lite av utrymet uptill så att både h1 och p flyttas uppåt 30px. */ 
}

.right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;                                  /* Makes the right-slide start at 35% from the left (35% of the container) so that the right-slide starts where the left slide ends.  */
    width: 65%;                                 /* Right slide width is set to 65% of the container. */                          
    transition: transform 0.5s ease-in-out;     
}

.right-slide > div {                            /* This part enables the pictures to be seen in the browser. Remeber that we already set the property style to "style="background-image" in our html, https://www.w3schools.com/cssref/pr_background-image.php. */
    background-repeat: no-repeat;               
    background-size: cover;                     /* Shows the whole image and not a part of it. */
    background-position: center center;         /* Centers the image on the X and Y axis. */ 
    height: 100%;
    width: 100%;
}

button {
    background-color: #fff;
    border: none;                               /* Tar bort ytterkanterna på knapparna. */
    color: #aaaa;
    cursor: pointer;                            /* Gör så att när vi hoovrar över knapparna så går min muspekaren från pil till att bli en hand. */
    font-size: 16px;                            /* Gör pilarna större. */
    padding: 15px;                              /* Gör knapparna större. */

}

button:hover {
    color: #222;                              /* Gör så att när vi hoovrar över knapparna så blir pilarna svarta. */
}

button:focus {                                  /* Gör så att knapparna inte får ytterkanter när vi hoovrar. Fattar inte varför det behövs, vi har ju redan satt dem till none i button. */
    outline: none;                             
}

.slider-container .action-buttons button {
    position: absolute;
    left: 35%;                                  /* Flyttar pil-knapparna till höger med 35% av sin container. */
    top: 50%;                                   /* Flyttar pil-knapparna nedåt med 50% av sin container (till mitten) . */
    z-index: 100;                               /* Ser till att knapparna alltid ligger översta lagret och därför alltid syns. */
}

.slider-container .action-buttons .down-button {
    transform: translateX(-100%);               /* Flyttar ned-knappen åt vänster med 100% av sin egen bredd, (elementets bredd). */
    border-top-left-radius: 5px;                /* Rundar kanten. */
    border-bottom-left-radius: 5px;             /* Rundar kanten. */
  }
  
  .slider-container .action-buttons .up-button {
    transform: translateY(-100%);               /* Flyttar upp-knappen uppåt med 100% av sin egen höjd, (elementets bredd). */
    border-top-right-radius: 5px;               /* Rundar kanten. */
    border-bottom-right-radius: 5px;            /* Rundar kanten. */
  }









